.middle {
    text-align: center;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.title {
    font-size: 25px;
    font-weight: 400;
}

.weight {
    font-weight: 800
}

.remove_underline {
    text-decoration: none;
}